.carousel {
  background: #fff;
}

.carousel-cell {
  width: 30%;
  height: 200px;
  margin: 0 10px;
  background: $background-color-alt;
  border-radius: 5px;

  .blockquote__text {
    padding: 20px 15px 0 35px;
    font-family: $heading-font-family;
    font-style: italic;
    &::before {
      content: "\201C";
      position: absolute;
      top: -0.3em;
      left: 0.02em;
      font-size: 2.5em;
      color: $brand-color;
      justify-content: center;
    }
  }
   @media only screen and (max-width: $mobile) {
    width: 100%;
     .blockquote__text {
        &::before {
          content: "\201C";
          position: absolute;
          top: .39em;
          left: -0.02em;
          font-size: 3.5em;
          color: $brand-color;
           justify-content: left;
        }
      }
   }
}

.blockquote__cite {
  font-family: $base-font-family;
  font-size: 15px;
  font-style: normal;
  color: $brand-color;
  text-transform: uppercase;
  text-align: right;
  padding-right: 10px;
}

.carousel-cell:before {
  text-align: left;
}

.flickity-button {
  background: $blue-gray;
}
.flickity-button:hover {
  background: $brand-color;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -40px;

  @media only screen and (max-width: $mobile) {
    left: -15px
    }
}

.flickity-prev-next-button.next {
  right: -40px;
  @media only screen and (max-width: $mobile) {
    right: -20px
  }
}
